body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{
	margin:0;
	padding:0;
}
body {
    font-size: 14px;
}
ul,ol,li{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.red{
	color: #af2d4a;
}

input:disabled {
    background-color: #d3d3d3;
    color: Black;
}
:disabled {
    opacity: 0.5;
}
select {
    font-size: 24px;
}
.container{
	width: 960px;
	margin: 0 auto;
}
.header-title{
	background: #6e6f6d;
}
.header-title p{
	line-height: 30px;
	color: #fff;
	font-size: 24px;
	padding: 5px 30px;
}
.header-btn{
	text-align: right;
}

.home-content{
	padding-top: 50px;
}
.home-title{
	line-height: 50px;
	color: #6f706e;
	font-size: 26px;
	letter-spacing: 4px;
	font-weight: 100;
	margin-bottom: 40px;
	text-align: center;
}
.ec-type{
	text-align: center;
}
.ec-type a{
	display: inline-block;
}
.ec-type img{
	width: 320px;
}


.size-box{
	display: table;
	width: 100%;
}
.require-left{
	display: table-cell;
	width: 650px;
}
.require-left h3{
	line-height: 26px;
	font-size: 16px;
}
.title-tips{
	margin-bottom: 10px;
}
.title-choose{
	margin-bottom: 20px;
	vertical-align: middle;
}
.title-choose img{
	height: 20px;
	margin: 0 5px;
	position: relative;
    top: 4px;
}
.a-box{
	width: 100%;
    display: table;
    vertical-align: middle;
    padding: 20px 0;
}
.imgHead1{    
    height:auto;
    max-width:170px;
    /*max-height:50px;*/
}

.imgHead2{    
    width:auto;
    height:auto;
    max-width:200px;
    max-height:50px;
}

.imgHead3{
    width:auto;
    height:auto;
    max-width:308px;
    max-height:50px;

}

.imgbtnChk{
    max-width:120px;
    max-height:80px;
}

.imgIcon{
    max-width:70px;
    max-height:70px;
}
.imgNum{
    height:auto;
    max-width:40px;
    max-height:40px;
}
.imgRecommendModel{
    height:auto;
    max-width:150px;
    max-height:150px;
}
.imgStroke{
    height:auto;
    max-width:140px;
    max-height:50px;
}
.imgbtnConditions{
    max-width:160px;
}

.imgbtnConditions2{
    max-width:200px;
}

.imgbtnHome {
    max-width:120px;
    max-height:80px;
}

.imgbtnContact {
    max-width:120px;
    max-height:80px;
}

.require-right{
	display: table-cell;
    padding-left: 10px;
    vertical-align: top;
}
.require-result{
	background: #af2d4a;
	color: #FFF;
	line-height: 30px;
	font-size: 18px;
	padding: 0 10px;
}
.result-content{
	padding: 10px 0;
	height: 300px;
	font-size: 16px;
}
.d-box{
	display: table;
}
.d-box-head{
    float: left;
}
.d-box-load{
    float: left;
    margin-top: 10px;
}
.d-box-input{
    text-align: right;
    vertical-align: top;
    margin-top: 15px;
    margin-right: 10px;
}
.d-box input[type="text"]{
	width: 120px;
	text-align: right;
}
.e-box{
	display: table;
}
.e-box-head{
    float: left;
}
.e-box-load{
    text-align: right;
    margin-right: 10px;
    vertical-align: top;
}
.e-box-moment{
    text-align: right;
    margin-right: 10px;
    vertical-align: top;
}
.e-box-load input[type="text"],.e-box-moment input[type="text"]{
    width: 80px;
    text-align: right;
    vertical-align: top;
}
.f-box-select{
	width: 150px;
    float: left;
}
.f-box-input{
	padding-top: 15px;
    text-align: right;
    margin-right: 35px;
}
.g-box-head{
	float: left;
    height: 70px;
}
.g-box-load{
    text-align: right;
    margin-top: 15px;
    /*width: 180px;*/
    float: left;
}
.g-box-input{
    text-align: right;
    margin-top: 15px;
    margin-right: 10px;
}
.g-box input[type="text"]{
	width: 120px;
	vertical-align: top;
}
.modal-content{
	position: fixed;
    display: none;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    border: 2px solid #aaa;
    background: #fff;
    overflow-y: scroll;
}
.j-box-head{
    float:left;
}
.j-box-load{
    margin-top:20px;
}

.j-box-input input[type="text"] {
    width:80px; 
    text-align:right;
}


.j-box-load input[type="text"] {
    width:80px; 
    text-align:right;
    margin-left:160px;
}
.n-box-head{
    float:left;
}

.n-box-load{
    margin-top:20px;
}

.n-box-input input[type="text"] {
    width:80px; 
    text-align:right;
}


.n-box-load input[type="text"] {
    width:80px; 
    text-align:right;
    margin-left:140px;
}

.k-box-head{
    float:left;
}

.k-box-load{
    margin-top:20px;
}

.k-box-load input[type="text"] {
    width:80px; 
    text-align:right;
    margin-left:110px;
}

.l-box-head{
    float:left;
}

.l-box-load{
    margin-top:20px;
}

.l-box-load input[type="text"] {
    width:80px; 
    text-align:right;
    margin-left:110px;
}

.m-box-head{
    float:left;
}

.m-box-load{
    /*float:right;*/
    text-align:right;
    margin-right:10px;
    vertical-align:top;
}
.m-box-moment{
    text-align:right;
    margin-right:10px;
    vertical-align:top;
}

.m-box-load input[type="text"] {
    width:80px; 
    text-align:right;
    vertical-align:top;
}

.m-box-moment input[type="text"] {
    width:80px; 
    text-align:right;
    vertical-align:top;
}

#h-box{
	line-height: 1.7;
}

#h-box-price-head{
    float:left;
}

#h-box-price{
    float:right;
}

#h-box-cycle-head{
    float:left;
    clear:both;
}

#h-box-cycle{
    float:right;
}

#h-box-life-head{
    float:left;
    clear:both;
}

#h-box-life{
    float:right;
}

#h-box-btn-area{
    text-align:center;
    clear:both;
    padding-top: 30px;
}
#h-box-btn-area input{
	margin-bottom: 10px;
}
#h-box-distance-head{
    float:left;
    clear:both;
}

#h-box-distance{
    float:right;
}

#h-box-errMsg{
    float:left;
    clear:both;
}

#dvIfrArea{
    text-align:center;
}

.modal-area-if {
    width: 900px;
}

#dvChildBtnArea {
    text-align: center;
}
input.number{
    background-color: #ffffff;
    border-color: #606060;
    border-width: 1px;
    border-style: Solid;
    height: 25px;
    width: 80px;
    text-align: right;
    padding-right: 1px;
    font-size: 18px;
}
input.text{
    background-color: #ffffff;
    border-color: #606060;
    border-width: 1px;
    border-style: Solid;
    height: 25px;
    width: 150px;
    font-size: 18px;
}
#dvCycleTimeEntry {
    text-align: right;
    margin-right: 20px;
}
#dvCycleTimeDisp {
    text-align: right;
}
#f-box-input input[type="text"] {
    width: 120px;
}
#f-box-input input[type="text"] {
    text-align: right;
    vertical-align: top;
}
#dvRoundTripEntry {
    text-align: right;
    margin-right: 20px;
    height: 40px;
}
#dvRoundTripError {
    height: 30px;
    text-align: right;
    margin-right: 20px;
}
#dvOperatingTimeEntry {
    height: 40px;
    text-align: right;
}
#dvOperatingTimeError {
    height: 30px;
    text-align: right;
    margin-right: 20px;
}
#dvOperatingDayEntry {
    text-align: right;
    margin-right: 20px;
    height: 40px;
}
#dvOperatingDayError {
    height: 30px;
    text-align: right;
    margin-right: 20px;
}
input {
    vertical-align: top;
}
#child-site-box {
    width: 800px;
    border: 1px solid transparent;
    display: table;
}

#dvLoadRodEntry {
    text-align: right;
    margin-right: 70px;
}

.imgButtonPosition {
    padding: 15px;
    text-align: center;
}

table.Grid{
    margin: 0px;
    border-collapse: separate !important;
    border-spacing: 1px 1px;
    border:0px #FFCC66 solid;
    font-size: 18px;
}
 
table.Grid th,
table.Grid td {
    padding-left:1px;
    border:0px #FFE4C4 solid;
}
 
table.Grid th {
    background:  #FFCC99;
    vertical-align: middle;
    text-align: left;
    overflow: visible;
    position: relative;
    color: black;
    font-weight: normal;
    font-size: 18px;
    height: 29px;
}
 
table.Grid th:after {
    left: 100%;
    top: 50%;
    border: solid #FFEFD5;
    content: " ";
    height: 0;
    width: 1.5px;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-width: 0px;
    margin-top: -10px;
}
@-moz-document url-prefix() {
    table.Grid th::after {
        float: right;
        padding: 0;
        left: 30px;
        top: 10px;
        content: " ";
        height: 0;
        width: 0;
        position: relative;
        pointer-events: none;
        border: 10px solid transparent;
        border-left: #295890 10px solid;
        margin-top: -10px;
    }
}
 
table.Grid td {
    background:#FFEFD5;
}

table.tblEstimateNo{
    margin-left:50px;
    height:30px;
    vertical-align:baseline;
}

.tblEstimateTdLeft{
    background-color:#FFCC99;
    width:150px;
    color:black;
    font-size:18px;
}

.tblEstimateTdRight{
    background-color:#FFEFD5;
    width:200px;
    font-size:13pt;
}

.tdRowMagin{
    height:15px;
}

.TableInp {
    border:1px solid #AF1F39;
    border-collapse:collapse;
    font-size:12.5px;
}

.TableInp td
{
    padding:0.3em;
    border:1px solid #AF1F39;
    color:Black;
    width:8em;
}

.TableInp th
{
    padding:0.3em;
    background-color:#AF1F39;
    text-align:left;
    font-weight:normal;
}


.TableInp .tdHD
{
    background-color:#E7BBC3;
}

.clear { clear:both; }  


table td { vertical-align: baseline; }
.header td { vertical-align: middle; }

table.Peripheral {
    width: 950px;
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 1px 1px;
    font-size: 18px;
}
 
table.Peripheral th,
table.Peripheral td {
    border:1.5px #ADD8E6 solid;
    text-align:center;
    vertical-align:middle;
}
 
table.Peripheral th {
    background: #6494ED ;
    vertical-align: middle;
    text-align: center;
    width: 230px;
    overflow: visible;
    position: relative;
    color: #fff;
    font-weight: normal;
    font-size: 18px;

}
 
table.Peripheral th:after {
    left: 100%;
    top: 50%;
    border: solid #191970;
    content: " ";
    height: 0;
    width: 1.5px;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-width: 0px;
    margin-top: -10px;
}
/* firefox */
@-moz-document url-prefix() {
    table.Peripheral th::after {
        float: right;
        padding: 0;
        left: 30px;
        top: 10px;
        content: " ";
        height: 0;
        width: 0;
        position: relative;
        pointer-events: none;
        border: 10px solid transparent;
        border-left: #295890 10px solid;
        margin-top: -10px;
    }
}
 
table.Peripheral td {
    background: #f8f8f8;
    width: 700px;
}

.imgPeripheral {
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 150px;
    margin: 10px;
}

.AttentionMsg {
    color: red;
    font-size: 18px;
}


table.Address {
    width: 800px;
    margin: 0px;
    border-collapse: separate;
    border-spacing: 0px 1px;
    font-size: 18px;
}
 
table.Address th,
table.Address td {
padding-left:1px;
}
 
table.Address th {
    background: #FFCC99;
    vertical-align: middle;
    text-align: left;
    width: 200px;
    overflow: visible;
    position: relative;
    color: #000;
    font-weight: normal;
    font-size: 18px;
}
 
table.Address th:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-width: 0px;
    margin-top: -10px;
}
/* firefox */
@-moz-document url-prefix() {
    table.Address th::after {
        float: right;
        padding: 0;
        left: 30px;
        top: 10px;
        content: " ";
        height: 0;
        width: 0;
        position: relative;
        pointer-events: none;
        border: 10px solid transparent;
        border-left: #295890 10px solid;
        margin-top: -10px;
    }
}
 
table.Address td {
    /*background: #f8f8f8;*/
    width: 400px;
}

#tblBreadCrumbs {
    border-collapse: collapse;
    text-align: right;
}

#a-box-head{
    width:200px;
    vertical-align:middle;
    float:left;
    height:140px;
}

#b-box-head{
    float:left;
}

#c-box-head{
    float:left;
}

#d-box-head{
    float:left;
}
#a-box,#b-box,#c-box,#d-box,#e-box,#f-box{
	width: 650px;
    display:table-cell; 
    vertical-align:middle;
    padding: 20px 0;
}

#d-box-load {
    float:left;
    margin-top:10px;
}

.imgbtnForm {
    max-width: 200px;
}

#e-box-head {
    float: left;
}

#e-box-input {
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
}

#e-box-input input[type="text"] {
    width: 80px;
    text-align: right;
}
.WarnMsg {
	font-size: 17px;
    color: red;
}
